{% extends 'departement/base.html.twig' %}

{% block title %} Ajouter un Département {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css1/formulaire.css') }}">

<div class="container mt-5">
    <h1 class="text-center text-primary"><i class="fas fa-plus-circle"></i> Ajouter un Département</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">{{ message }}</div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header bg-primary text-white text-center">
                    <h5 class="mb-0"><i class="fas fa-building"></i> Formulaire d'Ajout</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

                    <div class="mb-3">
                        <label class="form-label fw-bold"><i class="fas fa-tag"></i> Nom du Département</label>
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control' }}) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold"><i class="fas fa-map-marker-alt"></i> Adresse</label>
                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.adresse) }}
                    </div>

                    

                    <div class="mb-3">
                        <label class="form-label fw-bold"><i class="fas fa-image"></i> Image du Département</label>
                        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.image) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
