{% extends 'base.html.twig' %}

{% block title %}Détails du Médecin{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">🩺 Détails du Médecin</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ medecin.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ medecin.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ medecin.email }}</td>
                    </tr>
                    <tr>
                        <th>Spécialité</th>
                        <td>{{ medecin.specialite }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ medecin.telephone }}</td>
                    </tr>
                    <!-- Ajoutez d'autres informations spécifiques au médecin ici -->
                </tbody>
            </table>

            <a href="{{ path('admin_users') }}" class="btn btn-secondary btn-lg">Retour</a>
        </div>
    </div>
</div>
{% endblock %}
